<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Project Suite">

    <!--set up the listener to run the report after Suite is completed-->
    <listeners>
        <listener class-name="utils.TestListener"></listener>
    </listeners>

    <test name="Regressiontests">
        <classes>
            <class name="tests.PagesHTTPStatus" />
            <!--<class name="tests.HomepageTest" />-->
            <!--<class name="tests.PagesHTTPStatus" />-->
        </classes>
    </test>

</suite> <!-- Suite -->